html { 
    background: url(https://cdn.hipwallpaper.com/i/63/34/Sdj904.jpg) ; 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; 
}
.home{
    text-align: center;
display: block;
background-color:rgb(212, 17, 10) ;
    padding:15px 25px 15px 25px;
    border-radius: 50px;
    margin-left: 50px;
    font-family: 'Lemonada', cursive;
    font-size: xx-large;

}
h1{
    text-align: center;
    font-size: 70px;
}
img{
    display: inline-block;
}
.sec1{
    margin: 40px 200px;
}
.sec2{
    margin: 40px 200px;

}
.sec3{
    margin: 40px 200px;

}
.A{
    background-color: rgba(32, 129, 158, 0.486);
    border-radius: 3%;
}
.A:hover{
    cursor: pointer;
    transform: scale(1.1) ;
  transition: 150ms;
}
.B{
    background-color: rgba(32, 129, 158, 0.486);
    border-radius: 3%;
}
.B:hover{
    cursor: pointer;
    transform: scale(1.1) ;
  transition: 150ms;
}.C{
    background-color: rgba(32, 129, 158, 0.486);
    border-radius: 3%;
}
.C:hover{
    cursor: pointer;
    transform: scale(1.1) ;
  transition: 150ms;
}
    